# Python 相关
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# 日志和临时文件
*.log
*.tmp
*.swp
*.bak

# Emby Bot 配置和缓存
/config/config.yaml
/config/cache/
poster_cache.json
languages.json

# VSCode / IDE 设置
.vscode/
.idea/

# 系统文件
.DS_Store
Thumbs.db

# 环境变量文件
.env
